on:
  workflow_call:
    inputs:
      upload:
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    environment: pro
    permissions:
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Download Go packages
        shell: bash
        run: |
          go get ./...

      - name: Build commands
        shell: bash
        run: |
          go run ./scripts/build-cmd --zip

      - name: configure aws credentials
        if: ${{ inputs.upload }}
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Upload artifacts
        if: ${{ inputs.upload }}
        shell: bash
        run: |
          go run ./scripts/upload-binaries
        env:
          BINARY_BUCKET: ${{ vars.BINARY_BUCKET }}
