on:
  workflow_call: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: pro
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: init
        working-directory: stack
        run: |
          terraform init -backend-config="tfvars/backend-pro.hcl"

      - name: apply
        working-directory: stack
        run: |
          terraform apply -var-file="tfvars/pro.tfvars" --auto-approve
