on:
  workflow_call: {}

jobs:
  deploy:
    concurrency:
      group: main
      cancel-in-progress: false
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install CDK
        run: |
          npm install -g aws-cdk

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: 'arn:aws:iam::574363388371:role/strava-cicd'
          aws-region: eu-west-1

      - uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: deploy
        shell: bash
        run: |
          cdk deploy --require-approval never --no-color --parameters "PermissionBoundaryArn=arn:aws:iam::574363388371:policy/cicd-permissions-boundary"
