on:
  workflow_call: {}

jobs:
  plan:
    runs-on: ubuntu-latest
    environment: pro
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: 'arn:aws:iam::574363388371:role/strava-cicd'
          aws-region: eu-west-1

      - name: init
        working-directory: stack
        run: |
          terraform init -backend-config="tfvars/backend-pro.hcl"

      - name: plan
        working-directory: stack
        run: |
          terraform plan -var-file="tfvars/pro.tfvars"
