on:
  workflow_call: {}

jobs:
  plan:
    runs-on: ubuntu-latest
    environment: pro
    timeout-minutes: 10
    permissions:
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          mask-aws-account-id: true

      - name: setup backend config
        working-directory: stack
        shell: bash
        run: |
          cat > backend.hcl << 'EOF'
          bucket         = "${{ secrets.TF_STATE_BUCKET }}"
          key            = "${{ secrets.TF_STATE_OBJECT_KEY }}"
          region         = "${{ vars.AWS_REGION }}"
          EOF

      - name: init
        working-directory: stack
        run: |
          terraform init -backend-config=backend.hcl

      - name: plan
        working-directory: stack
        run: |
          terraform plan -var-file="tfvars/pro.tfvars"
