name: pr

on:
  pull_request: {}

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  build:
    secrets: inherit
    uses: ./.github/workflows/build.yaml

  plan:
    secrets: inherit
    uses: ./.github/workflows/tf.yaml
